name: challenge_impl Unit Tests
run-name: PoorMansAnubs challenge_impl Unit Tests
on: [push]
jobs:
  Build-and-Test:
    runs-on: ubuntu-latest
    steps:
      - name: Install Dependencies
        run: sudo /usr/bin/env DEBIAN_FRONTEND=noninteractive apt-get install git g++ cmake
      - name: Get Sources
        run: git clone --depth=1 --no-single-branch https://github.com/Stephen-Seo/PoorMansAnubis.git PMA && cd PMA && git checkout $GITHUB_REF_NAME && git submodule update --init --recursive
      - name: Set up build
        run: cmake -S PMA/challenge_impl -B BUILD
      - name: Build UnitTest
        run: make -C BUILD UnitTest
      - name: Run UnitTest
        run: ./BUILD/UnitTest
